html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  position: fixed;
}

.navlink {
  padding: 0.5em;
  display: flex;
}

.active-navlink {
  position: relative;
}
.active-navlink::after {
  bottom: -1px;
  width: 100%;
  height: 0.1em;
  left: 0;
  position: absolute;
  background: red;
  content: "";
}
