html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  position: fixed;
}

.navlink {
  padding: 0.5em;
  display: flex;
}

.active-navlink {
  position: relative;
}
.active-navlink::after {
  bottom: -1px;
  width: 100%;
  height: 0.1em;
  left: 0;
  position: absolute;
  background: red;
  content: "";
}

.form-elem {
  width: 100%;
  place-items: center;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0.5em;
}
.form-elem label,
.form-elem input {
  padding: 0.2em;
  margin: 0.2em 0.5em;
  width: 100%;
}
@media screen and (max-width: 729px) {
  .form-elem {
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    padding: 0em;
    margin: 0.5em 0.2em;
  }
  .form-elem label,
  .form-elem input {
    margin: 0.5em 0.2em;
    width: 100%;
  }
}
